@{
    if (ViewData["layout"] != null && ViewData["layout"].ToString() == "none")
    {
        Layout = "_LayoutForPrint";
    }

    ViewData["Title"] = "Home Page";
    var _centerdata = Newtonsoft.Json.JsonConvert.SerializeObject(WebSite.Controllers.HomeController._centerdata);
}
<div ng-controller="application.shared.sharedController as ctx">
    <div id="dialogModal" class="modal-overlay is-active" overlay="false" overlay-close="false" ng-show="ctx.prepareData == 0">
        <font size="6">Loading.....</font>
    </div>
    <div id="failToLoad" class="modal-overlay is-active" overlay="false" overlay-close="false" ng-show="ctx.prepareData == 2">
        <font size="6">ไม่สามารถโหลดข้อมูลได้ กรุณารีเฟรชหน้าใหม่อีกครั้ง</font><br />
    </div>
    <div ng-init="ctx.alertDD('@_centerdata')"></div>
    <div ui-view class="grid-content"></div>
</div>